body1 {
  padding-top: 70px;
  padding-bottom: 30px;
}

body {
		padding-top: 70px;
		padding-bottom: 30px;
		font-family: 'Lobster', cursive;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

