<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'  type='text/css'>
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
	<title>Sign the Guest Book</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sign.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" method="post" action="/process">
		  <h2 class="form-signin-heading"><center>Sign the Guest Book</center></h2>
        <div class="form-group">
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus>
        </div>
        <div class="form-group">
          <label for="comment" class="sr-only">Comment:</label>
            <textarea class="form-control" name="comment" rows="5" id="comment" placeholder="Comment" required></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign</button>
      </form>
    </div> 
  </body>
</html>
